$midnight: #11455b;
$azure: #29a1af;
$alice: #e2f0f1;
$sky: #f5feff;
$bluebells: #f8ffff;

$jade: #00c48c;
$shamrock: #00c441;
$dandelion: #f5c551;
$pumpkin: #f58b00;
$rose: #f85353;
$crimson: #dc2727;
$royal: #4b5ff9;
$turquoise: #26c8d9;

$black: #282828;
$ebony: #333333;
$shadow: #333f4d;
$charcoal: #9b9b9b;
$stone: #d0c9d6;
$ash: #ece9f1;
$pearl: #f8f8f8;
$white: #ffffff;
