.home-section {
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .explore-link {
    color: $midnight;
    max-width: 20rem;
    width: 100%;
    text-align: center;
    text-decoration: none;

    border-radius: 0.4rem;
    border: 1px solid $midnight;
  }
}
